:root {
    --rosewater: #dc8a78;
    --rosewater-rgb: 220 138 120;
    --rosewater-hsl: 10.800 58.824% 66.667%;
    --flamingo: #dd7878;
    --flamingo-rgb: 221 120 120;
    --flamingo-hsl: 0.000 59.763% 66.863%;
    --pink: #ea76cb;
    --pink-rgb: 234 118 203;
    --pink-hsl: 316.034 73.418% 69.020%;
    --mauve: #8839ef;
    --mauve-rgb: 136 57 239;
    --mauve-hsl: 266.044 85.047% 58.039%;
    --red: #d20f39;
    --red-rgb: 210 15 57;
    --red-hsl: 347.077 86.667% 44.118%;
    --maroon: #e64553;
    --maroon-rgb: 230 69 83;
    --maroon-hsl: 354.783 76.303% 58.627%;
    --peach: #fe640b;
    --peach-rgb: 254 100 11;
    --peach-hsl: 21.975 99.184% 51.961%;
    --yellow: #df8e1d;
    --yellow-rgb: 223 142 29;
    --yellow-hsl: 34.948 76.984% 49.412%;
    --green: #40a02b;
    --green-rgb: 64 160 43;
    --green-hsl: 109.231 57.635% 39.804%;
    --teal: #179299;
    --teal-rgb: 23 146 153;
    --teal-hsl: 183.231 73.864% 34.510%;
    --sky: #04a5e5;
    --sky-rgb: 4 165 229;
    --sky-hsl: 197.067 96.567% 45.686%;
    --sapphire: #209fb5;
    --sapphire-rgb: 32 159 181;
    --sapphire-hsl: 188.859 69.953% 41.765%;
    --blue: #1e66f5;
    --blue-rgb: 30 102 245;
    --blue-hsl: 219.907 91.489% 53.922%;
    --lavender: #7287fd;
    --lavender-rgb: 114 135 253;
    --lavender-hsl: 230.935 97.203% 71.961%;
    --text: #4c4f69;
    --text-rgb: 76 79 105;
    --text-hsl: 233.793 16.022% 35.490%;
    --subtext1: #5c5f77;
    --subtext1-rgb: 92 95 119;
    --subtext1-hsl: 233.333 12.796% 41.373%;
    --subtext0: #6c6f85;
    --subtext0-rgb: 108 111 133;
    --subtext0-hsl: 232.800 10.373% 47.255%;
    --overlay2: #7c7f93;
    --overlay2-rgb: 124 127 147;
    --overlay2-hsl: 232.174 9.623% 53.137%;
    --overlay1: #8c8fa1;
    --overlay1-rgb: 140 143 161;
    --overlay1-hsl: 231.429 10.048% 59.020%;
    --overlay0: #9ca0b0;
    --overlay0-rgb: 156 160 176;
    --overlay0-hsl: 228.000 11.236% 65.098%;
    --surface2: #acb0be;
    --surface2-rgb: 172 176 190;
    --surface2-hsl: 226.667 12.162% 70.980%;
    --surface1: #bcc0cc;
    --surface1-rgb: 188 192 204;
    --surface1-hsl: 225.000 13.559% 76.863%;
    --surface0: #ccd0da;
    --surface0-rgb: 204 208 218;
    --surface0-hsl: 222.857 15.909% 82.745%;
    --base: #eff1f5;
    --base-rgb: 239 241 245;
    --base-hsl: 220.000 23.077% 94.902%;
    --mantle: #e6e9ef;
    --mantle-rgb: 230 233 239;
    --mantle-hsl: 220.000 21.951% 91.961%;
    --crust: #dce0e8;
    --crust-rgb: 220 224 232;
    --crust-hsl: 220.000 20.690% 88.627%;
}


.dark {
    --rosewater: #f5e0dc;
    --rosewater-rgb: 245 224 220;
    --rosewater-hsl: 9.600 55.556% 91.176%;
    --flamingo: #f2cdcd;
    --flamingo-rgb: 242 205 205;
    --flamingo-hsl: 0.000 58.730% 87.647%;
    --pink: #f5c2e7;
    --pink-rgb: 245 194 231;
    --pink-hsl: 316.471 71.831% 86.078%;
    --mauve: #cba6f7;
    --mauve-rgb: 203 166 247;
    --mauve-hsl: 267.407 83.505% 80.980%;
    --red: #f38ba8;
    --red-rgb: 243 139 168;
    --red-hsl: 343.269 81.250% 74.902%;
    --maroon: #eba0ac;
    --maroon-rgb: 235 160 172;
    --maroon-hsl: 350.400 65.217% 77.451%;
    --peach: #fab387;
    --peach-rgb: 250 179 135;
    --peach-hsl: 22.957 92.000% 75.490%;
    --yellow: #f9e2af;
    --yellow-rgb: 249 226 175;
    --yellow-hsl: 41.351 86.047% 83.137%;
    --green: #a6e3a1;
    --green-rgb: 166 227 161;
    --green-hsl: 115.455 54.098% 76.078%;
    --teal: #94e2d5;
    --teal-rgb: 148 226 213;
    --teal-hsl: 170.000 57.353% 73.333%;
    --sky: #89dceb;
    --sky-rgb: 137 220 235;
    --sky-hsl: 189.184 71.014% 72.941%;
    --sapphire: #74c7ec;
    --sapphire-rgb: 116 199 236;
    --sapphire-hsl: 198.500 75.949% 69.020%;
    --blue: #89b4fa;
    --blue-rgb: 137 180 250;
    --blue-hsl: 217.168 91.870% 75.882%;
    --lavender: #b4befe;
    --lavender-rgb: 180 190 254;
    --lavender-hsl: 231.892 97.368% 85.098%;
    --text: #cdd6f4;
    --text-rgb: 205 214 244;
    --text-hsl: 226.154 63.934% 88.039%;
    --subtext1: #bac2de;
    --subtext1-rgb: 186 194 222;
    --subtext1-hsl: 226.667 35.294% 80.000%;
    --subtext0: #a6adc8;
    --subtext0-rgb: 166 173 200;
    --subtext0-hsl: 227.647 23.611% 71.765%;
    --overlay2: #9399b2;
    --overlay2-rgb: 147 153 178;
    --overlay2-hsl: 228.387 16.757% 63.725%;
    --overlay1: #7f849c;
    --overlay1-rgb: 127 132 156;
    --overlay1-hsl: 229.655 12.775% 55.490%;
    --overlay0: #6c7086;
    --overlay0-rgb: 108 112 134;
    --overlay0-hsl: 230.769 10.744% 47.451%;
    --surface2: #585b70;
    --surface2-rgb: 88 91 112;
    --surface2-hsl: 232.500 12.000% 39.216%;
    --surface1: #45475a;
    --surface1-rgb: 69 71 90;
    --surface1-hsl: 234.286 13.208% 31.176%;
    --surface0: #313244;
    --surface0-rgb: 49 50 68;
    --surface0-hsl: 236.842 16.239% 22.941%;
    --base: #1e1e2e;
    --base-rgb: 30 30 46;
    --base-hsl: 240.000 21.053% 14.902%;
    --mantle: #181825;
    --mantle-rgb: 24 24 37;
    --mantle-hsl: 240.000 21.311% 11.961%;
    --crust: #11111b;
    --crust-rgb: 17 17 27;
    --crust-hsl: 240.000 22.727% 8.627%;
}